.player-results {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url("../images/players.webp");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.top {
  margin: 50px auto 30% auto;
}

.inline-block {
  display: inline-block;
}

.home-results {
  max-height: calc(60vh - 50px);
  min-height: 350px;
  overflow-y: hidden;
}

.home-padding {
  padding: 20px 20px 20px 20px;
}

.results-bigtitle {
  width: 100%;
  color: #FFF;
  font-family: Montserrat, serif;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
  border-bottom: 1px solid #777;
  margin: auto auto auto auto;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.results-column-home {
  padding-bottom: 100px;
  min-height: calc(100vh - 275px);
}


.results-center {
  margin: auto;
}

.bigtitle-margin {
  min-width: 120px;
}

.input-margin {
  margin-right: 50px;
  width: calc(100% - 170px);
}

.button-margin {
  width: 15%;
}


.results-boundbox {
  width: 100%;
  margin: auto;
}

.result-list {
  list-style-type: none;
  max-height: calc(50vh - 70px);
  padding-left: 0px;
  overflow-y: scroll;
  margin-top: auto;
  margin-right: 45px;
  margin-left: 45px;
  border-bottom: 1px solid #777;
}

.result-list-item {
  width: calc(100% - 100px);
  padding: 30px 40px 30px 40px;
  min-height: 50px;
  background-color: #333;
  border: 1px solid #777;
  border-radius: 25px;
  margin-bottom: 15px;
  margin-right: 5px;
  margin-top: 15px;
  margin-left: 9px;
}

.size-search {
  font-size: 20px;
}

.stat-left {
  width: 49.5%;
  display: inline-block;
  text-align: center;
}

.stat-right {
  width: 49.5%;
  display: inline-block;
  text-align: center;
}
@media only screen and (max-width: 550px) {
  [class*="item-column-home"] {
    padding-top: 75px;
    min-height: calc(100vh - 75px);
    border-radius: 0;
    width: auto;
    background-image: none;
    background-color: #444;
    padding-bottom: 0;
  }
  [class*="home-results"] {
    max-height: calc(100vh - 275px);
    min-height: calc(100vh - 125px);
    border-radius: 0;
    width: auto;
    box-shadow: none;

    overflow-y: hidden;
  }
  [class="result-list"] {
    max-height: calc(80vh - 70px);
  }
}

@media only screen and (max-width: 768px) {
  [class="stat-left"] {
    width: 100%;
    display: block;
  }
  [class="stat-right"] {
    width: 100%;
    display: block;
  }
  [class="result-list"] {
    margin-right: -3px;
    margin-left: 12px;
  }
}

.divider-90 {
	outline: none;
	background-color: #444;
	border:none;
	height: 20px;
	width: 90%;
	height: 90px;
	margin-top: 0;
	border-bottom: 1px solid #777;
	padding-top: 10px;
}

.players-submitbutton {
  min-width: 100px;
  height: 60px;
  font-family: Montserrat, serif;
  font-weight: Bold;
  font-size: 15px;
  border-radius: 10px;
  text-align: center;
  background-color: #888;
  margin-left: 35px;
  border: 0.3px solid #000;
}

.autocomplete-results {
  margin-right: -75px;
}

.results-inputtext {
    width: calc(100% - -75px);
}


.results-inputdiv {
  width: 95%;
  list-style: none;
  max-width: 800px;
  margin: auto auto auto auto;
}
