<!DOCTYPE html>
<html>
<head>
  <title>Players</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../style/style.css" rel="stylesheet" />
  <link href="../style/players.css" rel="stylesheet" />
  <link href="../style/playerResults.css" rel="stylesheet" />
  <link href="../style/scrollbar.css" rel="stylesheet" />
  <script src="../scripts/autocomplete.js"></script>

</head>
<body style="margin: 0;">


    <div class="navbar playernav" id="logged">
      <a href="/">          <button class="navbar-button b5-1">Home</button></a>
      <a href="/profile">   <button class="navbar-button b5-2">Profile</button></a>
      <a href="/map">       <button class="navbar-button b5-3">Map</button></a>
      <a href="/inventory"> <button class="navbar-button b5-4">Inventory</button></a>
      <a href="/players">     <button class="navbar-button b5-5">Players</button></a>
      <a href="/logout">    <button class="navbar-button b5-6">Logout</button></a>

      <div class="topnav">
        <a class="active">
        </a>
          <div id="myLinks">
            <a class="tab" href="/">Home</a>
            <a class="tab" href="/profile">Profile</a>
            <a class="tab" href="/map">Map</a>
            <a class="tab" href="/inventory">Inventory</a>
            <a class="tab" href="/players">Players</a>
            <a class="tab" href="/logout">Logout</a>
          </div>

        <div href="javascript:void(0);" class="icon" onclick="myFunction()">
            <div class="burger"></div>
            <div class="burger"></div>
            <div class="burger"></div>
        </div>
      </div>
    </div>

  <div class="item-column-home player">
    <div class="item-homebox playerhome home-padding" >
      <form autocomplete="off" class="results-boundbox divider-90" href="/players/results" id="searchForm">
        <ul class="results-inputdiv results-center">
          <li class="inline-block input-margin">
            <input class="players-inputtext autocomplete" type="text" id="playername" name="playername" placeholder="" value="${query}">
          </li>
          <li class="inline-block button-margin">
            <button class="players-submitbutton" type="submit" value="search">Search</button>
          </li>
        </ul>
      </form>


    </div>
  </div>

<script>
  function myFunction() {
    const x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }

  autocomplete(document.getElementById("playername"), ${ip});
</script>

</body>
</html>
