<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../style/style.css" rel="stylesheet" />
  <link href="../style/profile.css" rel="stylesheet" />
  <link href="../style/scrollbar.css" rel="stylesheet" />

</head>
<body style="margin: 0;">


  <div class="navbar">
    <a href="/">  <button class="navbar-button b5-1">Home</button></a>
    <a href="/profile">  <button class="navbar-button b5-2">Profile</button></a>
    <a href="/map">      <button class="navbar-button b5-3">Map</button></a>
    <a href="/inventory"><button class="navbar-button b5-4">Inventory</button></a>
    <a href="/players">    <button class="navbar-button b5-5">Players</button></a>
    <a href="/logout">    <button class="navbar-button b5-6">Logout</button></a>

    <div class="topnav">
      <a class="active">
      </a>
        <div id="myLinks">
          <a class="tab" href="/">Home</a>
          <a class="tab" href="/profile">Profile</a>
          <a class="tab" href="/map">Map</a>
          <a class="tab" href="/inventory">Inventory</a>
          <a class="tab" href="/players">Players</a>
          <a class="tab" href="/logout">Logout</a>
        </div>

      <div href="javascript:void(0);" class="icon" onclick="myFunction()">
          <div class="burger"></div>
          <div class="burger"></div>
          <div class="burger"></div>
      </div>
    </div>
  </div>

  <div class="item-column-profile">
    <div class="item-profilebox" >
      <h1 class="item-bigtitle item-center white">Welcome back&nbsp; ${username}</h1>
      <h3 class="item-ip item-center white">Your Playtime:&nbsp; ${playtime}</h3>
      <br>
      <h3 class="item-subtitle item-center white">${announcement}</h3>
    </div>
    <div style="box-shadow: -5px 0 50px 0 #222;">
      <div class="items">
        <ul style="list-style: none;" id="gamelist"></ul>
      </div>
    </div>
    <div class="item-center-vertical" style="background-color: #333;">
      <div class="output-items">
        <ul class="showlist" id="showlist"></ul>
      </div>
    </div>

  </div>

  <script>
    list = document.getElementById('gamelist');
    outList = document.getElementById('showlist');


    modeList = ${modes};
    scoreList = ${scoreList};
    valueList = ${valueList};
    //scoreList = [["1", "1", "1", "1", "1"], ["1", "1", "1", "1", "1"]]
    //valueList = [["a", "a", "a", "a", "a"], ["a", "a", "a", "a", "a"]]
    //modeList = ["Skywars", "Bedwars"];

    var main = "Overview";

    for(var i = 0; i < modeList.length; i++) {
      let scoreTemplate = '' +
              '<div class="wrapper">' +
              '  <div class="stat-left">';
      if (1 <= scoreList[i].length) {
          t0 = '    <h3 class="item-ip item-left white inline size-score">' + scoreList[i][0] + '</h3>' +
          '    <h3 class="item-ip item-left green inline size-score">' + valueList[i][0] + '</h3>' +
          '    <br>' +
          '    <br>';
          scoreTemplate += t0;
        } if (3 <= scoreList[i].length) {
          t2 = '    <h3 class="item-ip item-left white inline size-score">' + scoreList[i][2] + '</h3>' +
          '    <h3 class="item-ip item-left green inline size-score">' + valueList[i][2] + '</h3>' +
          '    <br>' +
          '    <br>';

          scoreTemplate += t2;
        } if (5 <= scoreList[i].length) {
          t4 = '    <h3 class="item-ip item-left white inline size-score">' + scoreList[i][4] + '</h3>' +
          '    <h3 class="item-ip item-left green inline size-score">' + valueList[i][4] + '</h3>' +
          '    <br>' +
          '    <br>';

          scoreTemplate += t4;
        } if (7 <= scoreList[i].length) {
          t6 = '    <h3 class="item-ip item-left white inline size-score">' + scoreList[i][6] + '</h3>' +
          '    <h3 class="item-ip item-left green inline size-score">' + valueList[i][6] + '</h3>' +
          '    <br>' +
          '    <br>';

          scoreTemplate += t6;
        } if (9 <= scoreList[i].length) {
          t8 = '    <h3 class="item-ip item-left white inline size-score">' + scoreList[i][8] + '</h3>' +
          '    <h3 class="item-ip item-left green inline size-score">' + valueList[i][8] + '</h3>' +
          '    <br>' +
          '    <br>';

          scoreTemplate += t8;
        }


        scoreTemplate += '  </div>' +
        '  <div class="stat-right">';


        if (2 <= scoreList[i].length) {
          t1 = '    <h3 class="item-ip item-left white inline size-score">' + scoreList[i][1] + '</h3>' +
          '    <h3 class="item-ip item-left green inline size-score">' + valueList[i][1] + '</h3>' +
          '    <br>' +
          '    <br>';

          scoreTemplate += t1;
        } if (4 <= scoreList[i].length) {
          t3 = '    <h3 class="item-ip item-left white inline size-score">' + scoreList[i][3] + '</h3>' +
          '    <h3 class="item-ip item-left green inline size-score">' + valueList[i][3] + '</h3>' +
          '    <br>' +
          '    <br>';

          scoreTemplate += t3;
        } if (6 <= scoreList[i].length) {
          t5 = '    <h3 class="item-ip item-left white inline size-score">' + scoreList[i][5] + '</h3>' +
          '    <h3 class="item-ip item-left green inline size-score">' + valueList[i][5] + '</h3>' +
          '    <br>' +
          '    <br>';

          scoreTemplate += t5;
        } if (8 <= scoreList[i].length) {
          t7 = '    <h3 class="item-ip item-left white inline size-score">' + scoreList[i][7] + '</h3>' +
          '    <h3 class="item-ip item-left green inline size-score">' + valueList[i][7] + '</h3>' +
          '    <br>' +
          '    <br>';

          scoreTemplate += t7;
        } if (10 <= scoreList[i].length) {
          t9 = '    <h3 class="item-ip item-left white inline size-score">' + scoreList[i][9] + '</h3>' +
          '    <h3 class="item-ip item-left green inline size-score">' + valueList[i][9] + '</h3>' +
          '    <br>' +
          '    <br>';

          scoreTemplate += t9;
        }

         scoreTemplate += '  </div>' +
        '</div>' +
        '';

        var style = document.createElement('style');
        style.type = 'text/css';
        style.innerHTML = '.selectable-' + modeList[i].replace(/[^a-zA-Z ]/g, "") + ' { background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/modes/' + modeList[i] + '.png);}';
        style.innerHTML += '.selectable-' + modeList[i].replace(/[^a-zA-Z ]/g, "") + ':hover { background-image: linear-gradient(rgba(125, 125, 125, 0.6), rgba(125, 125, 125, 0.4)), url(../images/modes/' + modeList[i] + '.png);}';

        document.getElementsByTagName('head')[0].appendChild(style);

        if (modeList[i] === main) {
          list.innerHTML += '<li class="selected selectable-' + modeList[i].replace(/[^a-zA-Z ]/g, "") + '">' + modeList[i] + '</li>'
        } else {
            list.innerHTML += '<li class="selectable selectable-' + modeList[i].replace(/[^a-zA-Z ]/g, "") + '">' + modeList[i] + '</li>'
        }

        outList.innerHTML += '<li class="showitem" id="out-' + modeList[i].replace(/[^a-zA-Z ]/g, "") + '">' + modeList[i] + '</li>'
        scores = document.getElementById('out-' + modeList[i].replace(/[^a-zA-Z ]/g, ""));

        scores.innerHTML += scoreTemplate;
    }

    document.querySelector('ul').addEventListener('click', function(e) {
      var selected;

      if(e.target.tagName === 'LI') {
        selected = document.querySelector('li.selected');
        if(selected) {
          selected.classList.add('selectable');
          selected.classList.remove('selected');
        }

        e.target.classList.remove('selectable');
        e.target.classList.add('selected');

        //Scroll target
        var tar = document.getElementById('out-' + e.target.textContent.replace(/[^a-zA-Z ]/g, ""));
        tar.scrollIntoView({ behavior: 'smooth', block: 'center' });
      }
    });

  </script>
  <script>
    function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }

    var nav;
    if(${loggedin}) {
      nav = document.getElementById('notloggedin');
      nav.parentNode.removeChild(nav);
    } else {
      nav = document.getElementById('logged');
      nav.parentNode.removeChild(nav);
    }

  </script>
</body>
</html>
