<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../style/style.css" rel="stylesheet" />
  <link href="../style/profile.css" rel="stylesheet" />
  <link href="../style/scrollbar.css" rel="stylesheet" />

</head>
<body style="margin: 0;">


  <div class="navbar">
    <a href="/">  <button class="navbar-button b5-1">Home</button></a>
    <a href="/profile">  <button class="navbar-button b5-2">Profile</button></a>
    <a href="/map">      <button class="navbar-button b5-3">Map</button></a>
    <a href="/inventory"><button class="navbar-button b5-4">Inventory</button></a>
    <a href="/players">    <button class="navbar-button b5-5">Players</button></a>
    <a href="/logout">    <button class="navbar-button b5-6">Logout</button></a>

    <div class="topnav">
      <a class="active">
      </a>
        <div id="myLinks">
          <a class="tab" href="/">Home</a>
          <a class="tab" href="/profile">Profile</a>
          <a class="tab" href="/map">Map</a>
          <a class="tab" href="/inventory">Inventory</a>
          <a class="tab" href="/players">Players</a>
          <a class="tab" href="/logout">Logout</a>
        </div>

      <div class="icon" onclick="myFunction()">
          <div class="burger"></div>
          <div class="burger"></div>
          <div class="burger"></div>
      </div>
    </div>
  </div>

  <div class="item-column-profile">
    <div class="item-profilebox" >
      <h1 class="item-bigtitle item-center white">Welcome back&nbsp; ${username}</h1>
      <h3 class="item-ip item-center white">Your Playtime:&nbsp; ${playtime}</h3>
      <br>
      <h3 class="item-subtitle item-center white">${announcement}</h3>
    </div>
    <div style="box-shadow: -5px 0 50px 0 #222;">
      <div class="items">
        <ul style="list-style: none;" id="gamelist"></ul>
      </div>
    </div>
    <div class="item-center-vertical" style="background-color: #333;">
      <div class="output-items">
        <ul class="showlist" id="showlist"></ul>
      </div>
    </div>

  </div>

  <script>
    list = document.getElementById('gamelist');
    outList = document.getElementById('showlist');


    modeList = ${modes};
    //modeList = ["Skywars", "Bedwars"];

    var main = "Overview";
    modeList.unshift(main);

    for(var i = 0; i < modeList.length; i++) {
      scoreTemplate = '' +
        '<div class="wrapper">' +
        '  <div class="stat-left">' +
        '    <h3 class="item-ip item-left white inline">${' + modeList[i] + 'type1}</h3>' +
        '    <h3 class="item-ip item-left green inline">${' + modeList[i] + 'value1}</h3>' +
        '    <br>' +
        '    <br>' +
        '    <h3 class="item-ip item-left white inline">${' + modeList[i] + 'type3}</h3>' +
        '    <h3 class="item-ip item-left green inline">${' + modeList[i] + 'value3}</h3>' +
        '    <br>' +
        '    <br>' +
        '    <h3 class="item-ip item-left white inline">${' + modeList[i] + 'type5}</h3>' +
        '    <h3 class="item-ip item-left green inline">${' + modeList[i] + 'value5}</h3>' +
        '    <br>' +
        '    <br>' +
        '    <h3 class="item-ip item-left white inline">${' + modeList[i] + 'type7}</h3>' +
        '    <h3 class="item-ip item-left green inline">${' + modeList[i] + 'value7}</h3>' +
        '    <br>' +
        '    <br>' +
        '    <h3 class="item-ip item-left white inline">${' + modeList[i] + 'type9}</h3>' +
        '    <h3 class="item-ip item-left green inline">${' + modeList[i] + 'value9}</h3>' +
        '    <br>' +
        '    <br>' +
        '  </div>' +
        '  <div class="stat-right">' +
        '    <h3 class="item-ip item-left white inline">${' + modeList[i] + 'type2}</h3>' +
        '    <h3 class="item-ip item-left green inline">${' + modeList[i] + 'value2}</h3>' +
        '    <br>' +
        '    <br>' +
        '    <h3 class="item-ip item-left white inline">${' + modeList[i] + 'type4}</h3>' +
        '    <h3 class="item-ip item-left green inline">${' + modeList[i] + 'value4}</h3>' +
        '    <br>' +
        '    <br>' +
        '    <h3 class="item-ip item-left white inline">${' + modeList[i] + 'type6}</h3>' +
        '    <h3 class="item-ip item-left green inline">${' + modeList[i] + 'value6}</h3>' +
        '    <br>' +
        '    <br>' +
        '    <h3 class="item-ip item-left white inline">${' + modeList[i] + 'type8}</h3>' +
        '    <h3 class="item-ip item-left green inline">${' + modeList[i] + 'value8}</h3>' +
        '    <br>' +
        '    <br>' +
        '    <h3 class="item-ip item-left white inline">${' + modeList[i] + 'type10}</h3>' +
        '    <h3 class="item-ip item-left green inline">${' + modeList[i] + 'value10}</h3>' +

        '  </div>' +
        '</div>' +
        '';

        var style = document.createElement('style');
        style.type = 'text/css';
        style.innerHTML = '.selectable-' + modeList[i].replace(/[^a-zA-Z ]/g, "") + ' { background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/modes/' + modeList[i] + '.png);}';
        style.innerHTML += '.selectable-' + modeList[i].replace(/[^a-zA-Z ]/g, "") + ':hover { background-image: linear-gradient(rgba(125, 125, 125, 0.6), rgba(125, 125, 125, 0.4)), url(../images/modes/' + modeList[i] + '.png);}';

        document.getElementsByTagName('head')[0].appendChild(style);

        if (modeList[i] == main) {
          list.innerHTML += '<li class="selected selectable-' + modeList[i].replace(/[^a-zA-Z ]/g, "") + '">' + modeList[i] + '</li>'
        } else {
            list.innerHTML += '<li class="selectable selectable-' + modeList[i].replace(/[^a-zA-Z ]/g, "") + '">' + modeList[i] + '</li>'
        }

        outList.innerHTML += '<li class="showitem" id="out-' + modeList[i].replace(/[^a-zA-Z ]/g, "") + '">' + modeList[i] + '</li>'
        scores = document.getElementById('out-' + modeList[i].replace(/[^a-zA-Z ]/g, ""));

        scores.innerHTML += scoreTemplate;
    }

    document.querySelector('ul').addEventListener('click', function(e) {
      var selected;

      if(e.target.tagName === 'LI') {
        selected = document.querySelector('li.selected');
        if(selected) {
          selected.classList.add('selectable');
          selected.classList.remove('selected');
        }

        e.target.classList.remove('selectable');
        e.target.classList.add('selected');

        //Scroll target
        var tar = document.getElementById('out-' + e.target.textContent.replace(/[^a-zA-Z ]/g, ""));
        tar.scrollIntoView({ behavior: 'smooth', block: 'center' });
      }
    });

  </script>
</body>
</html>
